<footer>
  <hr />
  {{ if .Site.Params.social }}
    <p id="social">
      Find me around the web:
      <br />
      {{ range $i, $e := .Site.Params.social }}
        {{ if $i }} | {{ end }}
        <a href="{{ .url }}">{{ .name }}</a>
      {{ end }}
    </p>
  {{ end }}
  <p class="copyright">
    Copyright © {{ now.Format "2006"}}
    <a href="{{ .Site.BaseURL }}"><strong>{{ default "Blog Author" .Site.Params.Author }}</strong></a>.
    This work is licensed under the
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> license.
  </p>
  <p class="builtWith">
    Built with
    <a href="http://www.gohugo.io/">Hugo</a>,
    using the theme
    <a href="https://gitlab.com/ian-s-mcb/smigle-hugo-theme">smigle</a>,
    which was influenced by the theme
    <a href="https://github.com/sumnerevans/smol">smol</a>.
  </p>
</footer>
